@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Nunito+Sans:wght@200;300;400;600;800;900;1000&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --red: #ff0000;
   
}

*{
    
font-family: 'Nunito Sans', sans-serif;
margin: 0;padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none; border: none;
text-transform: capitalize;
transition: all .2s linear;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    /* background-image: url('https://stabraq.com/cdn/shop/files/Artboard_10.gif?v=1700060077'); */
    background-color: #fff; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem rgba(0, 0, 0, .1);
    
    
   
}
/* .nav1{
    background-color:brown;
} */



header .navbar a{
font-size: 1.7rem;
border-radius: .5rem;
padding: .5rem 1.5rem;
color:var(--light-color);
text-decoration: none;

}
header .navbar a.active ,header .navbar a:hover{
    color:#fff;
    background:var(--green);
}

header .icons i , header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem ;
    text-align: center;
    font-size:1.7rem ;
    color: var(--black);
    border-radius: 50%;
    background:#eee ;

    
}

header .icons i:hover , header .icons a:hover{
color: #fff;
background:var(--green) ;
transform:rotate(360deg) ;
}


header .icons #menu-bars{
    display: none;
}



/* Footer Styles */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0;
}

.footer-column {
    flex: 1 1 250px;
    padding: 0 20px;
    max-width: 250px;
    margin-bottom: 20px;
    text-align: center;
}
.footer-column p,
.footer-column a {
    font-size: 16px;
}


.footer-logo {
    padding-bottom:1rem ;
    max-width: 100%;
    height: auto;
}

.footer-heading {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-column a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.footer-column a:hover {
    text-decoration: underline;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.social-icons li {
    margin-right: 10px;
}

.payment-methods {
    margin-top: 20px;
}

.payment {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.payment li {
    margin-right: 10px;
    
}

.all-rights-reserved {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    color: #777;
    font-size: 15px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        max-width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-column:not(:last-child) {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }

    .footer-heading {
        margin-bottom: 10px;
    }
}


































/* media queries */
@media(max-width:991px){
    html{
        font-size: 55%;

    }
    header{
        padding:1rem 2rem ;
    }
}
@media(max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
  header .navbar{
    position:absolute;
    top: 100%;left: 0;right: 0;
    background: #fff;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    padding:1rem ;
    clip-path: polygon(0 0 ,100% 0 , 100% 0, 0 0);
  }
  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
 }
  header .navbar a{
    display: block;
    padding:1.5rem ;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
}
@media(max-width:991px){
    html{
        font-size: 30%;

    }
    header>img{
        width: 25%;
    }
}